# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
dist/
build/
*.tsbuildinfo

# Test coverage
coverage/

# temporary file
tmp.json
tmp/
temp/
*.tmp

# Code review Analysis
docs/review/*

# Specification files
docs/spec/*